[submodule "Arkham-ui"]
	path = Arkham-ui
	url = https://github.com/Artemis-Holdings/Arkham-ui
[submodule "Arkham-api"]
	path = Arkham-api
	url = https://github.com/Artemis-Holdings/Arkham-api
[submodule "Arkham-Login-Theme"]
	path = Arkham-Login-Theme
	url = https://github.com/Artemis-Holdings/Arkham-Login-Theme
