version: '3'

# volumes:
#   keycloak_data:
#       driver: local

#   graph_data:
#       driver: local

services:
# build arkham services
  # arkham_api:
    build: Arkham-api/
    ports:
      - "6969:6969"
    # depends_on:
    #   - arkham_graph_db
    command: arkkham-api
    volumes:
      - /home/ArtemisDevOps/Arkham-Dev/Arkham-api:/src/app

  arkham_ui:
    build: Arkham-ui/
    ports:
      - "6969:6969"
    depends_on:
      - arkham_api
    command: arkham-ui
    volumes:
      - /home/ArtemisDevOps/Arkham-Dev/Arkham-ui:/src/app


# build arkham-graph database
  arkham_graph_db:
    image: postgres:latest
    container_name: arkham_graph_db
    volumes:
      - ~/docker/volumes/postgres:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=arkham
    ports:
      - "5432:5432"
    command: postgres

# build keycloak service
  persist_keycloak:
      image: postgres:latest
      volumes:
        - ~/docker/volumes/keycloak:/var/lib/postgresql/data
      environment:
        - POSTGRES_DB=keycloak
        - POSTGRES_USER=keycloak
        - POSTGRES_PASSWORD=password
  keycloak:
      image: "quay.io/keycloak/keycloak"
      command: start-dev
      environment:
        - DB_VENDOR=POSTGRES
        - DB_ADDR=postgres
        - DB_DATABASE=keycloak
        - DB_USER=keycloak
        - DB_SCHEMA=public
        - DB_PASSWORD=password
        - KEYCLOAK_ADMIN=admin
        - KEYCLOAK_ADMIN_PASSWORD=admin
      ports:
        - "8080:8080"
      depends_on:
        - persist_keycloak
        